.progress-light-radial {
  display: inline-block;
  position: relative;
  width: 133px;
  height: 133px;
  border-radius: 50%;
  background-color: #86C9FF;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}
.progress-light-radial::after,
.progress-light-radial::before {
  content: "";
  width: 18px;
  height: 18px;
  top: 41%;
  left: 41%;
  margin-left: 3.5px;
  margin-top: 3.5px;
  position: absolute;
  z-index: 999;
  border: 3px solid #86C9FF;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 0px 10px;
  border-radius: 50%;
  background: rgb(33, 44, 80);
}

.progress-light-radial:after {
  z-index: 998;
  box-shadow: none;
  transform: translate(0, -58.5px);
}
.progress-light-radial b:after {
  color: #86C9FF;
  position: absolute;
  font-weight: 900;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  background-color: #212c50;
  border-radius: 50%;
  margin-left: -25%;
  margin-top: -25%;
  text-align: center;
  line-height: 90px;
  font-size: 30px;
  box-shadow: 0 2px 3px #212c50 inset, 0 0 0 16px #212c50;
}
.progress-light-0 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(90deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-0:before {
  transform: rotate(0deg) translate(0, -57.5px);
}
.progress-light-0 b:after {
  content: "";
}
.progress-light-1 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(93.6deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-1:before {
  transform: rotate(3.6deg) translate(0, -57.5px);
}
.progress-light-1 b:after {
  content: "";
}
.progress-light-2 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(97.2deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-2:before {
  transform: rotate(7.2deg) translate(0, -57.5px);
}
.progress-light-2 b:after {
  content: "";
}
.progress-light-3 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(100.8deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-3:before {
  transform: rotate(10.8deg) translate(0, -57.5px);
}
.progress-light-3 b:after {
  content: "";
}
.progress-light-4 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(104.4deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-4:before {
  transform: rotate(14.4deg) translate(0, -57.5px);
}
.progress-light-4 b:after {
  content: "";
}
.progress-light-5 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(108deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-5:before {
  transform: rotate(18deg) translate(0, -57.5px);
}
.progress-light-5 b:after {
  content: "";
}
.progress-light-6 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(111.6deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-6:before {
  transform: rotate(21.6deg) translate(0, -57.5px);
}
.progress-light-6 b:after {
  content: "";
}
.progress-light-7 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(115.2deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-7:before {
  transform: rotate(25.2deg) translate(0, -57.5px);
}
.progress-light-7 b:after {
  content: "";
}
.progress-light-8 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(118.8deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-8:before {
  transform: rotate(28.8deg) translate(0, -57.5px);
}
.progress-light-8 b:after {
  content: "";
}
.progress-light-9 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(122.4deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-9:before {
  transform: rotate(32.4deg) translate(0, -57.5px);
}
.progress-light-9 b:after {
  content: "";
}
.progress-light-10 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(126deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-10:before {
  transform: rotate(36deg) translate(0, -57.5px);
}
.progress-light-10 b:after {
  content: "";
}
.progress-light-11 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(129.6deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-11:before {
  transform: rotate(39.6deg) translate(0, -57.5px);
}
.progress-light-11 b:after {
  content: "";
}
.progress-light-12 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(133.2deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-12:before {
  transform: rotate(43.2deg) translate(0, -57.5px);
}
.progress-light-12 b:after {
  content: "";
}
.progress-light-13 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(136.8deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-13:before {
  transform: rotate(46.8deg) translate(0, -57.5px);
}
.progress-light-13 b:after {
  content: "";
}
.progress-light-14 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(140.4deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-14:before {
  transform: rotate(50.4deg) translate(0, -57.5px);
}
.progress-light-14 b:after {
  content: "";
}
.progress-light-15 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(144deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-15:before {
  transform: rotate(54deg) translate(0, -57.5px);
}
.progress-light-15 b:after {
  content: "";
}
.progress-light-16 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(147.6deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-16:before {
  transform: rotate(57.6deg) translate(0, -57.5px);
}
.progress-light-16 b:after {
  content: "";
}
.progress-light-17 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(151.2deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-17:before {
  transform: rotate(61.2deg) translate(0, -57.5px);
}
.progress-light-17 b:after {
  content: "";
}
.progress-light-18 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(154.8deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-18:before {
  transform: rotate(64.8deg) translate(0, -57.5px);
}
.progress-light-18 b:after {
  content: "";
}
.progress-light-19 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(158.4deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-19:before {
  transform: rotate(68.4deg) translate(0, -57.5px);
}
.progress-light-19 b:after {
  content: "";
}
.progress-light-20 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(162deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-20:before {
  transform: rotate(72deg) translate(0, -57.5px);
}
.progress-light-20 b:after {
  content: "";
}
.progress-light-21 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(165.6deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-21:before {
  transform: rotate(75.6deg) translate(0, -57.5px);
}
.progress-light-21 b:after {
  content: "";
}
.progress-light-22 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(169.2deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-22:before {
  transform: rotate(79.2deg) translate(0, -57.5px);
}
.progress-light-22 b:after {
  content: "";
}
.progress-light-23 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(172.8deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-23:before {
  transform: rotate(82.8deg) translate(0, -57.5px);
}
.progress-light-23 b:after {
  content: "";
}
.progress-light-24 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(176.4deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-24:before {
  transform: rotate(86.4deg) translate(0, -57.5px);
}
.progress-light-24 b:after {
  content: "";
}
.progress-light-25 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(180deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-25:before {
  transform: rotate(90deg) translate(0, -57.5px);
}
.progress-light-25 b:after {
  content: "";
}
.progress-light-26 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(183.6deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-26:before {
  transform: rotate(93.6deg) translate(0, -57.5px);
}
.progress-light-26 b:after {
  content: "";
}
.progress-light-27 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(187.2deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-27:before {
  transform: rotate(97.2deg) translate(0, -57.5px);
}
.progress-light-27 b:after {
  content: "";
}
.progress-light-28 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(190.8deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-28:before {
  transform: rotate(100.8deg) translate(0, -57.5px);
}
.progress-light-28 b:after {
  content: "";
}
.progress-light-29 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(194.4deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-29:before {
  transform: rotate(104.4deg) translate(0, -57.5px);
}
.progress-light-29 b:after {
  content: "";
}
.progress-light-30 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(198deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-30:before {
  transform: rotate(108deg) translate(0, -57.5px);
}
.progress-light-30 b:after {
  content: "";
}
.progress-light-31 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(201.6deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-31:before {
  transform: rotate(111.6deg) translate(0, -57.5px);
}
.progress-light-31 b:after {
  content: "";
}
.progress-light-32 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(205.2deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-32:before {
  transform: rotate(115.2deg) translate(0, -57.5px);
}
.progress-light-32 b:after {
  content: "";
}
.progress-light-33 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(208.8deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-33:before {
  transform: rotate(118.8deg) translate(0, -57.5px);
}
.progress-light-33 b:after {
  content: "";
}
.progress-light-34 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(212.4deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-34:before {
  transform: rotate(122.4deg) translate(0, -57.5px);
}
.progress-light-34 b:after {
  content: "";
}
.progress-light-35 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(216deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-35:before {
  transform: rotate(126deg) translate(0, -57.5px);
}
.progress-light-35 b:after {
  content: "";
}
.progress-light-36 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(219.6deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-36:before {
  transform: rotate(129.6deg) translate(0, -57.5px);
}
.progress-light-36 b:after {
  content: "";
}
.progress-light-37 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(223.2deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-37:before {
  transform: rotate(133.2deg) translate(0, -57.5px);
}
.progress-light-37 b:after {
  content: "";
}
.progress-light-38 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(226.8deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-38:before {
  transform: rotate(136.8deg) translate(0, -57.5px);
}
.progress-light-38 b:after {
  content: "";
}
.progress-light-39 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(230.4deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-39:before {
  transform: rotate(140.4deg) translate(0, -57.5px);
}
.progress-light-39 b:after {
  content: "";
}
.progress-light-40 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(234deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-40:before {
  transform: rotate(144deg) translate(0, -57.5px);
}
.progress-light-40 b:after {
  content: "";
}
.progress-light-41 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(237.6deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-41:before {
  transform: rotate(147.6deg) translate(0, -57.5px);
}
.progress-light-41 b:after {
  content: "";
}
.progress-light-42 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(241.2deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-42:before {
  transform: rotate(151.2deg) translate(0, -57.5px);
}
.progress-light-42 b:after {
  content: "";
}
.progress-light-43 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(244.8deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-43:before {
  transform: rotate(154.8deg) translate(0, -57.5px);
}
.progress-light-43 b:after {
  content: "";
}
.progress-light-44 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(248.4deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-44:before {
  transform: rotate(158.4deg) translate(0, -57.5px);
}
.progress-light-44 b:after {
  content: "";
}
.progress-light-45 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(252deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-45:before {
  transform: rotate(162deg) translate(0, -57.5px);
}
.progress-light-45 b:after {
  content: "";
}
.progress-light-46 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(255.6deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-46:before {
  transform: rotate(165.6deg) translate(0, -57.5px);
}
.progress-light-46 b:after {
  content: "";
}
.progress-light-47 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(259.2deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-47:before {
  transform: rotate(169.2deg) translate(0, -57.5px);
}
.progress-light-47 b:after {
  content: "";
}
.progress-light-48 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(262.8deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-48:before {
  transform: rotate(172.8deg) translate(0, -57.5px);
}
.progress-light-48 b:after {
  content: "";
}
.progress-light-49 {
  background-image: linear-gradient(90deg, #293661 50%, transparent 50%, transparent),
    linear-gradient(266.4deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-49:before {
  transform: rotate(176.4deg) translate(0, -57.5px);
}
.progress-light-49 b:after {
  content: "";
}
.progress-light-50 {
  background-image: linear-gradient(-90deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-50:before {
  transform: rotate(180deg) translate(0, -57.5px);
}
.progress-light-50 b:after {
  content: "";
}
.progress-light-51 {
  background-image: linear-gradient(-86.4deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-51:before {
  transform: rotate(183.6deg) translate(0, -57.5px);
}
.progress-light-51 b:after {
  content: "";
}
.progress-light-52 {
  background-image: linear-gradient(-82.8deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-52:before {
  transform: rotate(187.2deg) translate(0, -57.5px);
}
.progress-light-52 b:after {
  content: "";
}
.progress-light-53 {
  background-image: linear-gradient(-79.2deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-53:before {
  transform: rotate(190.8deg) translate(0, -57.5px);
}
.progress-light-53 b:after {
  content: "";
}
.progress-light-54 {
  background-image: linear-gradient(-75.6deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-54:before {
  transform: rotate(194.4deg) translate(0, -57.5px);
}
.progress-light-54 b:after {
  content: "";
}
.progress-light-55 {
  background-image: linear-gradient(-72deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-55:before {
  transform: rotate(198deg) translate(0, -57.5px);
}
.progress-light-55 b:after {
  content: "";
}
.progress-light-56 {
  background-image: linear-gradient(-68.4deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-56:before {
  transform: rotate(201.6deg) translate(0, -57.5px);
}
.progress-light-56 b:after {
  content: "";
}
.progress-light-57 {
  background-image: linear-gradient(-64.8deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-57:before {
  transform: rotate(205.2deg) translate(0, -57.5px);
}
.progress-light-57 b:after {
  content: "";
}
.progress-light-58 {
  background-image: linear-gradient(-61.2deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-58:before {
  transform: rotate(208.8deg) translate(0, -57.5px);
}
.progress-light-58 b:after {
  content: "";
}
.progress-light-59 {
  background-image: linear-gradient(-57.6deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-59:before {
  transform: rotate(212.4deg) translate(0, -57.5px);
}
.progress-light-59 b:after {
  content: "";
}
.progress-light-60 {
  background-image: linear-gradient(-54deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-60:before {
  transform: rotate(216deg) translate(0, -57.5px);
}
.progress-light-60 b:after {
  content: "";
}
.progress-light-61 {
  background-image: linear-gradient(-50.4deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-61:before {
  transform: rotate(219.6deg) translate(0, -57.5px);
}
.progress-light-61 b:after {
  content: "";
}
.progress-light-62 {
  background-image: linear-gradient(-46.8deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-62:before {
  transform: rotate(223.2deg) translate(0, -57.5px);
}
.progress-light-62 b:after {
  content: "";
}
.progress-light-63 {
  background-image: linear-gradient(-43.2deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-63:before {
  transform: rotate(226.8deg) translate(0, -57.5px);
}
.progress-light-63 b:after {
  content: "";
}
.progress-light-64 {
  background-image: linear-gradient(-39.6deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-64:before {
  transform: rotate(230.4deg) translate(0, -57.5px);
}
.progress-light-64 b:after {
  content: "";
}
.progress-light-65 {
  background-image: linear-gradient(-36deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-65:before {
  transform: rotate(234deg) translate(0, -57.5px);
}
.progress-light-65 b:after {
  content: "";
}
.progress-light-66 {
  background-image: linear-gradient(-32.4deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-66:before {
  transform: rotate(237.6deg) translate(0, -57.5px);
}
.progress-light-66 b:after {
  content: "";
}
.progress-light-67 {
  background-image: linear-gradient(-28.8deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-67:before {
  transform: rotate(241.2deg) translate(0, -57.5px);
}
.progress-light-67 b:after {
  content: "";
}
.progress-light-68 {
  background-image: linear-gradient(-25.2deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-68:before {
  transform: rotate(244.8deg) translate(0, -57.5px);
}
.progress-light-68 b:after {
  content: "";
}
.progress-light-69 {
  background-image: linear-gradient(-21.6deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-69:before {
  transform: rotate(248.4deg) translate(0, -57.5px);
}
.progress-light-69 b:after {
  content: "";
}
.progress-light-70 {
  background-image: linear-gradient(-18deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-70:before {
  transform: rotate(252deg) translate(0, -57.5px);
}
.progress-light-70 b:after {
  content: "";
}
.progress-light-71 {
  background-image: linear-gradient(-14.4deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-71:before {
  transform: rotate(255.6deg) translate(0, -57.5px);
}
.progress-light-71 b:after {
  content: "";
}
.progress-light-72 {
  background-image: linear-gradient(-10.8deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-72:before {
  transform: rotate(259.2deg) translate(0, -57.5px);
}
.progress-light-72 b:after {
  content: "";
}
.progress-light-73 {
  background-image: linear-gradient(-7.2deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-73:before {
  transform: rotate(262.8deg) translate(0, -57.5px);
}
.progress-light-73 b:after {
  content: "";
}
.progress-light-74 {
  background-image: linear-gradient(-3.6deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-74:before {
  transform: rotate(266.4deg) translate(0, -57.5px);
}
.progress-light-74 b:after {
  content: "";
}
.progress-light-75 {
  background-image: linear-gradient(0deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-75:before {
  transform: rotate(270deg) translate(0, -57.5px);
}
.progress-light-75 b:after {
  content: "";
}
.progress-light-76 {
  background-image: linear-gradient(3.6deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-76:before {
  transform: rotate(273.6deg) translate(0, -57.5px);
}
.progress-light-76 b:after {
  content: "";
}
.progress-light-77 {
  background-image: linear-gradient(7.2deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-77:before {
  transform: rotate(277.2deg) translate(0, -57.5px);
}
.progress-light-77 b:after {
  content: "";
}
.progress-light-78 {
  background-image: linear-gradient(10.8deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-78:before {
  transform: rotate(280.8deg) translate(0, -57.5px);
}
.progress-light-78 b:after {
  content: "";
}
.progress-light-79 {
  background-image: linear-gradient(14.4deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-79:before {
  transform: rotate(284.4deg) translate(0, -57.5px);
}
.progress-light-79 b:after {
  content: "";
}
.progress-light-80 {
  background-image: linear-gradient(18deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-80:before {
  transform: rotate(288deg) translate(0, -57.5px);
}
.progress-light-80 b:after {
  content: "";
}
.progress-light-81 {
  background-image: linear-gradient(21.6deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-81:before {
  transform: rotate(291.6deg) translate(0, -57.5px);
}
.progress-light-81 b:after {
  content: "";
}
.progress-light-82 {
  background-image: linear-gradient(25.2deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-82:before {
  transform: rotate(295.2deg) translate(0, -57.5px);
}
.progress-light-82 b:after {
  content: "";
}
.progress-light-83 {
  background-image: linear-gradient(28.8deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-83:before {
  transform: rotate(298.8deg) translate(0, -57.5px);
}
.progress-light-83 b:after {
  content: "";
}
.progress-light-84 {
  background-image: linear-gradient(32.4deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-84:before {
  transform: rotate(302.4deg) translate(0, -57.5px);
}
.progress-light-84 b:after {
  content: "";
}
.progress-light-85 {
  background-image: linear-gradient(36deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-85:before {
  transform: rotate(306deg) translate(0, -57.5px);
}
.progress-light-85 b:after {
  content: "";
}
.progress-light-86 {
  background-image: linear-gradient(39.6deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-86:before {
  transform: rotate(309.6deg) translate(0, -57.5px);
}
.progress-light-86 b:after {
  content: "";
}
.progress-light-87 {
  background-image: linear-gradient(43.2deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-87:before {
  transform: rotate(313.2deg) translate(0, -57.5px);
}
.progress-light-87 b:after {
  content: "";
}
.progress-light-88 {
  background-image: linear-gradient(46.8deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-88:before {
  transform: rotate(316.8deg) translate(0, -57.5px);
}
.progress-light-88 b:after {
  content: "";
}
.progress-light-89 {
  background-image: linear-gradient(50.4deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-89:before {
  transform: rotate(320.4deg) translate(0, -57.5px);
}
.progress-light-89 b:after {
  content: "";
}
.progress-light-90 {
  background-image: linear-gradient(54deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-90:before {
  transform: rotate(324deg) translate(0, -57.5px);
}
.progress-light-90 b:after {
  content: "";
}
.progress-light-91 {
  background-image: linear-gradient(57.6deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-91:before {
  transform: rotate(327.6deg) translate(0, -57.5px);
}
.progress-light-91 b:after {
  content: "";
}
.progress-light-92 {
  background-image: linear-gradient(61.2deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-92:before {
  transform: rotate(331.2deg) translate(0, -57.5px);
}
.progress-light-92 b:after {
  content: "";
}
.progress-light-93 {
  background-image: linear-gradient(64.8deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-93:before {
  transform: rotate(334.8deg) translate(0, -57.5px);
}
.progress-light-93 b:after {
  content: "";
}
.progress-light-94 {
  background-image: linear-gradient(68.4deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-94:before {
  transform: rotate(338.4deg) translate(0, -57.5px);
}
.progress-light-94 b:after {
  content: "";
}
.progress-light-95 {
  background-image: linear-gradient(72deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-95:before {
  transform: rotate(342deg) translate(0, -57.5px);
}
.progress-light-95 b:after {
  content: "";
}
.progress-light-96 {
  background-image: linear-gradient(75.6deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-96:before {
  transform: rotate(345.6deg) translate(0, -57.5px);
}
.progress-light-96 b:after {
  content: "";
}
.progress-light-97 {
  background-image: linear-gradient(79.2deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-97:before {
  transform: rotate(349.2deg) translate(0, -57.5px);
}
.progress-light-97 b:after {
  content: "";
}
.progress-light-98 {
  background-image: linear-gradient(82.8deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-98:before {
  transform: rotate(352.8deg) translate(0, -57.5px);
}
.progress-light-98 b:after {
  content: "";
}
.progress-light-99 {
  background-image: linear-gradient(86.4deg, #86C9FF 50%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-99:before {
  transform: rotate(356.4deg) translate(0, -57.5px);
}
.progress-light-99 b:after {
  content: "";
}
.progress-light-100 {
  background-image: linear-gradient(90deg, #86C9FF 51%, transparent 50%, transparent),
    linear-gradient(270deg, #86C9FF 50%, #293661 50%, #293661);
}
.progress-light-100:before {
  transform: rotate(360deg) translate(0, -57.5px);
}
.progress-light-100 b:after {
  content: "";
}
